<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBDUtilityOverlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DBDUtilityOverlay.Properties.Settings>
      <setting name="ScreenshotFileName" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="OverlayX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverlayY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverlayOpacity" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="IsOverlayOpened" serializeAs="String">
        <value>False</value>
      </setting>
    </DBDUtilityOverlay.Properties.Settings>
  </userSettings>
</configuration>